menuconfig MACH_HTCATHENA
	bool "HTC Athena"
	select PXA27x
	select PXA_SSP
	select BOARD_IRQ_MAP_BIG
	select HTC_EGPIO
        select PXA_SSP
        select ADC
	help
		Say Y here if you intend to run this kernel on a
		HTC Athena. Currently there is only basic support
		for this phone.

#config HTCATHENA_PHONE
#	tristate "HTC Alpine Phone driver"
#	depends on MACH_HTCATHENA
#	help
#	  Experimental driver for the Athena's MSM6275 UMTS chipset.

config HTCATHENA_VSFB
	tristate "HTC Athena VSFB LCD support"
	depends on MACH_HTCATHENA && LCD_CLASS_DEVICE
	help
	  This driver provides primitive support for HTC Athena LCD display.

config HTCATHENA_BLUETOOTH
	tristate "HTC Athena Bluetooth"
	depends on MACH_HTCATHENA && HTC_EGPIO
	help
	  Enables support for the TI BRF6150 Bluetooth Module
	  in HTC Athena.

config HTCATHENA_GPS
	tristate "HTC Athena GPS"
	depends on MACH_HTCATHENA && HTC_EGPIO
	help
	  Enables support for the SiRF-3 GPS Module
	  in HTC Athena.
