menuconfig MACH_MIOA701
	bool "MIO A701"
	select PXA27x
	select IWMMXT
	select BOARD_IRQ_MAP_SMALL
	help
		Say Y here if you intend to run this kernel on a
		MIO A701. Currently there is only basic support
		for this PDA.

config MACH_MIOA701_SOUND
	tristate "MIO A701 sound support"
	depends on MACH_MIOA701
	select SND_PXA2XX_SOC_MIOA701
	help
	  Enable support for the sound chip of the MIO A701.

config MIOA701_BLUETOOTH
	tristate "MITAC MIO A701 Bluetooth"
	depends on MACH_MIOA701
	help
	  Enables support for the TI BRF6150 Bluetooth Module
	  in the MIO A701.

config MIOA701_GSM
	tristate "MITAC MIO A701 GSM"
	depends on MACH_MIOA701
	help
	  Enables support for the Sagem XS200 GSM Module
	  in the MIO A701.

config MIOA701_GPS
	tristate "MITAC MIO A701 GPS"
	depends on MACH_MIOA701
	help
	  Enables support for the GPS Module
	  in the MIO A701.

config MIOA701_PM
	tristate "MITAC MIO A701 PM"
	depends on MACH_MIOA701
	help
	  Enables support for the Power Managment
	  in the MIO A701.

config MIOA701_LEDS
	tristate "MITAC MIO A701 LEDS"
	depends on MACH_MIOA701
	help
	  Enables support for the Leds and Vibrator
	  in the MIO A701.
