/dts-v1/;

#include "pxa300-raumfeld-common.dtsi"
#include <dt-bindings/clock/maxim,max9485.h>

/ {
	model = "Raumfeld Connector (PXA300)";
	compatible = "raumfeld,raumfeld-connector-pxa300-rev2", "marvell,pxa300";

	pxabus {
		smsc@10000000 {
			compatible = "smsc,lan9115";
			pinctrl-single,pins = <
				MFP_PIN_PXA300(39) MFP_AF0	/* RESET */
			>;
			reg = <0x10000000 0x100000>;
			phy-mode = "mii";
			interrupt-parent = <&gpio>;
			interrupts = <40 IRQ_TYPE_EDGE_FALLING>;
			vdd33a-supply = <&reg_3v3>;
			vddvario-supply = <&reg_1v8>;
			reset-gpio = <&gpio 39 GPIO_ACTIVE_LOW>;
			//reg-shift = <0>;
			reg-io-width = <4>;
			smsc,save-mac-address;
			smsc,irq-push-pull;
		};
	};

	gpio-keys@0 {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		//pinctrl-0 = <&gpio_keys_pins>;

		f1 {
			label = "F1";
			gpios = <&gpio 117 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_F1>;
			gpio-key,wakeup;
		};

		f2 {
			label = "F2";
			gpios = <&gpio 118 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_F2>;
		};

		f3 {
			label = "F3";
			gpios = <&gpio 119 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_F3>;
		};

		f4 {
			label = "rescue boot button";
			gpios = <&gpio 115 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_F4>;
		};

		f5 {
			label = "dock detect";
			gpios = <&gpio 116 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_F5>;
		};

		f6 {
			label = "on_off button";
			gpios = <&gpio 14 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_F6>;
			gpio-key,wakeup;
		};
	};

	rotary@0 {
		status = "disabled";
		compatible = "rotary-encoder";
		gpios = <
			&gpio 19 GPIO_ACTIVE_LOW
			&gpio 20 GPIO_ACTIVE_HIGH
		>;
		linux,axis = <REL_X>;
		rotary-encoder,relative-axis;
	};

	onewire@0 {
		status = "disabled";
		compatible = "w1-gpio";
		gpios = <
			&gpio 126 GPIO_ACTIVE_HIGH
			&gpio 105 GPIO_ACTIVE_LOW
		>;
	};

	reg_vbatt: voltage_vbatt {
		compatible = "regulator-fixed";
		regulator-name = "vbatt-fixed-supply";
		regulator-min-microvolt = <3700000>;
		regulator-max-microvolt = <3700000>;
		regulator-always-on;
	};

	backlight {
		status = "disabled";
		compatible = "pwm-backlight";
		pwms = <&pwm0 100000>;

		brightness-levels = <
			 0  1  2  3  4  5  6  7  8  9
			10 11 12 13 14 15 16 17 18 19
			20 21 22 23 24 25 26 27 28 29
			30 31 32 33 34 35 36 37 38 39
			40 41 42 43 44 45 46 47 48 49
			50 51 52 53 54 55 56 57 58 59
			60 61 62 63 64 65 66 67 68 69
			70 71 72 73 74 75 76 77 78 79
			80 81 82 83 84 85 86 87 88 89
			90 91 92 93 94 95 96 97 98 99
			100
		>;
		default-brightness-level = <6>;

		power-supply = <&reg_vbatt>;
	};

	wm8782: wm8782 {
		status = "disabled";
		compatible = "wm8782";
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "Raumfeld Connector";

		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "i2s";
			bitclock-master = <&dailink_master_analog>;
			frame-master = <&dailink_master_analog>;
			mclk-fs = <256>;

			dailink_master_analog: cpu {
				clocks = <&max9485 MAX9485_CLKOUT1>;
				sound-dai = <&ssp_dai0>;
			};

			codec {
				sound-dai = <&cs4270>;
			};
		};

		simple-audio-card,dai-link@1 {
			reg = <1>;
			format = "i2s";
			bitclock-master = <&dailink_master_digital>;
			frame-master = <&dailink_master_digital>;
			mclk-fs = <256>;

			dailink_master_digital: cpu {
				clocks = <&max9485 MAX9485_CLKOUT1>;
				sound-dai = <&ssp_dai1>;
			};

			codec {
				sound-dai = <&ak4104>;
			};
		};
	};
};

&pwm0 {
	status = "okay";
};

&ssp1 {
	status = "okay";
};

&ssp2 {
	status = "okay";
};

&spi {
	ak4104: ak4104@0 {
		compatible = "asahi-kasei,ak4104";
		reg = <0>;
		vdd-supply = <&reg_3v3>;
		spi-max-frequency = <5000000>;
		reset-gpio = <&gpio 38 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
	};

	lis302@1 {
		status = "disabled";
		compatible = "st,lis302dl-spi";
		pinctrl-names = "default";
		pinctrl-0 = <&lis302_pins>;
		reg = <1>;
		spi-max-frequency = <1000000>;
		interrupt-parent = <&gpio>;
		interrupts = <104 IRQ_TYPE_EDGE_FALLING>;

		st,click-single-x;
		st,click-single-y;
		st,click-single-z;
		st,click-thresh-x = <10>;
		st,click-thresh-y = <10>;
		st,click-thresh-z = <10>;
		st,irq1-click;
		st,irq2-click;
		st,wakeup-x-lo;
		st,wakeup-x-hi;
		st,wakeup-y-lo;
		st,wakeup-y-hi;
		st,wakeup-z-lo;
		st,wakeup-z-hi;
	};

	dac7512@2 {
		compatible = "ti,dac7512";
		reg = <2>;
		spi-max-frequency = <1000000>;
		vcc-supply = <&reg_3v3>;
	};
};

&pxai2c1 {
	cs4270: cs4270@48 {
		compatible = "cirrus,cs4270";
		pinctrl-names = "default";
		pinctrl-0 = <&cs4270_pins>;
		reg = <0x48>;
		va-supply = <&reg_va_5v0>;
		vd-supply = <&reg_3v3>;
		vlc-supply = <&reg_3v3>;
		reset-gpio = <&gpio 120 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
	};

	eeti_ts: eeti_ts@a {
		status = "disabled";
		compatible = "eeti,touchscreen-i2c";
		pinctrl-names = "default";
		pinctrl-0 = <&eeti_ts_pins>;
		reg = <0xa>;
		interrupt-parent = <&gpio>;
		interrupts = <32 IRQ_TYPE_EDGE_FALLING>;
	};

	max9485: max9485@63 {
		compatible = "maxim,max9485";
		pinctrl-names = "default";
		pinctrl-0 = <&max9485_pins>;
		reg = <0x63>;
		vdd-supply = <&reg_3v3>;
		clock-names = "xclk";
		clocks = <&xo_27mhz>;
		reset-gpios = <&gpio 111 GPIO_ACTIVE_HIGH>;
		#clock-cells = <1>;
		//clock-output-names = "a", "b", "c", "d";
	};

	st320: st320@1a {
		status = "disabled";
		compatible = "st,sta32x";
		reg = <0x1a>;
		Vdda-supply = <&reg_3v3>;
		Vdd3-supply = <&reg_3v3>;
		Vcc-supply = <&reg_va_5v0>;
	};
};

&pinctrl {
	lis302_pins: lis302_pins {
		pinctrl-single,pins = <
			MFP_PIN_PXA300(104) MFP_AF0	/* IRQ	*/
		>;
		pinctrl-single,low-power-mode = MFP_LPM(MFP_LPM_PULL_LOW);
	};

	cs4270_pins: cs4270_pins {
		pinctrl-single,pins = <
			MFP_PIN_PXA300(120) MFP_AF0	/* RESET */
		>;
		pinctrl-single,low-power-mode = MFP_LPM(MFP_LPM_PULL_LOW);
	};

	eeti_ts_pins: eeti_ts_pins {
		pinctrl-single,pins = <
			MFP_PIN_PXA300(32) MFP_AF0	/* IRQ */
		>;
		pinctrl-single,low-power-mode = MFP_LPM(MFP_LPM_PULL_LOW);
	};

	max9485_pins: max9485_pins {
		pinctrl-single,pins = <
			MFP_PIN_PXA300(111) MFP_AF0	/* RESET */
		>;
		pinctrl-single,low-power-mode = MFP_LPM(MFP_LPM_PULL_LOW);
	};
};
